:root {
    --site-link: #212121;
    --btn-color: #ffffff;
    --title-color: #ffffff;
    --text-color: #757575;
    --second-title-color: #212121;
    --accent-color: #2196F3;
    --background: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* ---------------HEADER------------ */

.site-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color)
}

.logo-web {
    color: var(--accent-color)
}

.logo-studio {
    color: #000000;
}


.site-link .link .current {
    color: var(--accent-color);
}

.site-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--site-link)
}

.site-link:hover, .site-link:focus {
    color: var(--accent-color)
}


.site-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.site-mail:hover, .site-mail:focus {
    color: var(--accent-color)
}

.site-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.site-tel:hover, .site-tel:focus {
    color: var(--accent-color)
}

/* -----------------MAIN------------------- */

.main-section {
    background-color: var(--background)
}

.main-title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-color);
}

.mane-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    cursor: pointer;
    }

    .main-btn:hover, .main-btn:focus {
        color: var(--accent-color);
    }

    /* --------------PECULIAR-------------------- */

    .peculiar {

    }

.peculiar-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.peculiar-text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

/* ---------------ACTIVITY------------ */

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color)
}

/* ----------------TEAM------------- */

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.team-second-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-title-color);
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* -----------FOOTER----------- */

.contacts {
    background-color: #2F303A;
}

.contacts-web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.contacts-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contacts-link-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ----стили для portfolio.html------ */


